body {
    background-color: orange;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 10px 0px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1ps solid black;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

.container {
    max-width: 200px;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}